@font-face {
	font-family: quicksand;
	src: url('../fonts/Quicksand/Quicksand-Regular.ttf');
}

@font-face {
	font-family: profontwindows;
	src: url('../fonts/ProFontWindows/ProFontWindows.ttf');
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: #070707;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0px;
}

.grid-child-1 {
}

.logo-div {
	width: 47.5%;
	margin: auto;
	position: fixed;
	/* height: 100%; */
	/* overflow-y: scroll; */
	/* overflow-x: hidden; */
}

.logo-img {
	display: block;
	margin-left: auto;
	margin-right: 27.5%;
	margin-top: 32.5%;
	width: 50%;
}

.grid-child-2 {
	justify-content: space-around;
}

.center-text-div {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35%;
	text-align: left;
}

.about-text {
	margin-top: 80%;
	/* padding-bottom: 30%; */
	padding-right: 17.5%;
}

.grid-container-small {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 0px;
}

.grid-container-2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0px;
}

.grid-container-small-2 {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5%;
}
.sponsor-logos {
	width: 40%;
}

@media screen and (min-height: 1200px) {
	.logo-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 35%;
		width: 50%;
	}
}

@media screen and (min-height: 1500px) {
	.about-text {
		margin-top: 90%;
	}
}

.inp-size {
	border: white solid 2px !important;
	height: 30px !important;
}

.inp-size-larger {
	border: white solid 2px !important;
	height: 34px;
}

@media screen and (max-width: 810px) {
	nav {
		position: relative;
	}

	.hamburger {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
		z-index: 2;
	}

	/* BODY  */
	.grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 0px;
	}

	.grid-child-1 {
	}

	.logo-div {
		position: relative;
		width: 100%;
	}

	.center-text-div {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50%;
		/* text-align: left; */
	}

	.logo-img {
		width: 95%;
		margin-left: 2%;
	}
	.grid-child-2 {
	}
	.about-text {
		margin-top: 60%;
		padding-bottom: 30%;
		padding-right: 5%;
		padding-left: 5%;
	}

	.grid-container-small-2 {
		text-align: center;
		display: grid;
		grid-template-columns: 1fr;
	}
	.grid-container-small-2 div {
		margin-bottom: 10%;
	}
	.sponsor-logos {
		width: 40%;
	}
}
