@font-face {
	font-family: quicksand;
	src: url('../fonts/Quicksand/Quicksand-Regular.ttf');
}

@font-face {
	font-family: profontwindows;
	src: url('../fonts/ProFontWindows/ProFontWindows.ttf');
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: black;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0px;
}

.grid-child-1 {
}

.logo-div {
	width: 50%;
	margin: auto;
	position: fixed;
	height: 100%;
}

.logo-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;
	width: 55%;
}

.grid-child-2 {
	justify-content: space-around;
}

.center-text-div {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35%;
	text-align: left;
}

.grid-container-small {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 0px;
}

@media screen and (min-height: 1200px) {
	.logo-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 35%;
		width: 50%;
	}
}

.inp-size {
	border: white solid 2px !important;
	height: 30px !important;
}

.inp-size-larger {
	border: white solid 2px !important;
	height: 34px;
}

@media screen and (max-width: 810px) {
	nav {
		position: relative;
	}

	.hamburger {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
		z-index: 2;
	}

	/* BODY  */
	.grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 0px;
	}

	.grid-child-1 {
	}

	.logo-div {
		position: relative;
		height: ;
	}

	.logo-img {
	}
	.grid-child-2 {
	}
}
